<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Base creada en la instancia SQL Server local mostrada en SSMS. -->
    <add name="TiendaOnlineConnection"
         connectionString="Data Source=DESKTOP-7PKCL9G;Initial Catalog=TiendaOnlineParcial1;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-AR" uiCulture="es-AR" />
  </system.web>
</configuration>
